* {
  all: unset; //Unsets everything so you can style everything from scratch
}

$main_fg: #ddc7a1;
$main_col: #d8a657;
$main_red: #ea6962;
$main_solid_bg: #32302f;
$main_bg: rgba($main_solid_bg, 1);
$main_solid_border: #595959;
$main_border: rgba($main_solid_border, 0.8);

//Global Styles
.bar {
  font-family: monospace;
  font-size: 0.8em;
  background-color: $main_bg;
  border: 1px solid;
  border-radius: 6px;
  border-color: $main_border;
  color: $main_fg;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff {
  all: unset;
  margin-right: 8px;
  margin-left: 8px;
}

.workspaces-widget {
  all: unset;
  margin-left: 7px;
}

.workspace-entry--empty {
    padding: 0 8px 0 8px;
}

.workspace-entry--occupied {
    padding: 0 8px 0 8px;
    color: $main_col;
    font-weight: bold;
}

.workspace-entry-current-occupied, .workspace-entry-current-empty  {
    padding: 0 8px 0 8px;
    margin: 7px 0 7px 0;
    color: $main_solid_bg;
    background-color: $main_col;
    font-weight: bold;
    border-radius: 4px;
}

.ram_metric scale trough highlight, .cpu_metric scale trough highlight, .temp_metric scale trough highlight, .music_metric scale trough highlight, .vol_metric_muted scale trough highlight, .vol_metric scale trough highlight, .battery_metric scale trough highlight {
  all: unset;
  background-color: $main_col;
  color: #000000;
  border-radius: 10px;
}
.ram_metric scale trough, .cpu_metric scale trough, .temp_metric scale trough, .music_metric scale trough, .vol_metric_muted scale trough, .vol_metric scale trough, .battery_metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.temp_digit, .keyboard, .ram_metric, .cpu_metric, .temp_metric, .vol_metric_muted, .vol_metric, .battery_metric label {
    font-size: 1em;
}

.temp_digit {
    margin-left: -2px;
}

.temp_metric label {
    margin-left: 3px;
    margin-right: 2px;
}

.vol_metric_muted label {
    margin-left: 2px;
}

.battery_metric label {
    margin-left: 1px;
    margin-right: 1px;
}

.music {
    margin-left: 3px;
}

.ac-label {
    margin-right: 10px;
}

.mpd_info {
    font-size: 1em;
    margin-bottom: -10px;
}

.blockMusic {
    margin-bottom: -2px;
}

.timeDate {
    margin-left: 4px;
}

.time {
    color: $main_col;
    font-weight: bold;
}

.warn {
    color: $main_red;
}

.mpdsong {
    color: $main_col;
    font-weight: bold;
    margin-top: 2px;
}

.mpdalbum {
    font-style: italic;
}

.songInfo {
}

.songPadding {
    margin-bottom: -100px;
}
