@import url("file:///home/jaime/.config/waybar/dark.css");

* {
    font-family: monospace;
    font-size: 0.96em;
    min-height: 0;
}

window#waybar {
    color: @foreground;
    border: 1px solid @border;
    padding: 0 4px 0 2px;
    border-radius: 4px;
    background: @bg;
}

.modules-right, .modules-center, .modules-left {
}

.time {
    color: @accent;
    font-weight: bold;
}

.date {
    font-size: 0.8em;
}

.track {
    font-weight: bold;
    color: @accent;
    margin-top: 2px;
}

.track.paused {
    color: @border;
}

.album {
    font-size: 0.8em;
    font-style: italic;
}

.album.paused {
    color: @border;
    font-size: 0.8em;
    font-style: italic;
}

#date {
    margin-top: 2px;
    padding: 0 4px 0 10px;
}

#workspaces button {
    font-weight: bold;
    padding: 0 5px;
    color: @foreground;
    box-shadow: inset 0 -1px @accent;
    margin: 6px 2px 6px 2px;
    padding: 0 3px;
    border-radius: 0;
}

#workspaces button.empty {
    box-shadow: none;
}

#workspaces button.active {
    background: @accent;
    padding: 0 3px;
    margin: 6px 2px 6px 2px;
    color: @bg_2;
    border-radius: 4px;
}

/*#battery, #pulseaudio, #cpu, #memory, #temperature {
    padding: 0 10px 0 0;
}*/

#image {
    border-radius: 2px;
    padding: 0 10px 0 3px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#cpu, #memory, #pulseaudio {
    padding: 0 10px 0 0;
}

#battery, #system, #system2 {
    margin: 4px;
    padding: 0px 4px 0px 4px;
    border-radius: 4px;
    background: @bg_2
}

#system {
    color: @gruv_blue;
    border: 1px solid @gruv_blue;
}

#system2 {
    color: @gruv_magenta;
    border: 1px solid @gruv_magenta;
}

#battery.charging {
    color: @gruv_green;
    border: 1px solid @gruv_green;
}

#battery.good:not(.charging) {
    color: @gruv_green;
    border: 1px solid @gruv_green;
}

#battery.warning:not(.charging) {
    color: @gruv_yellow;
    border: 1px solid @gruv_yellow;
}

#battery.critical:not(.charging) {
    color: @gruv_red;
    border: 1px solid @gruv_red;
}
